:root {
	--border-radius-small: 0.5rem;
	--border-radius-large: 1rem;

	--spacer: 1rem;

	--space-xs: calc(var(--spacer) * .25);
	--space-sm: calc(var(--spacer) * .5);
	--space-md: var(--spacer);
	--space-lg: calc(var(--spacer) * 1.5);
	--space-xl: calc(var(--spacer) * 3);
}
