h1 {
	font-size: 2.5rem;
	margin-top: var(--spacing-lg);
	margin-bottom: var(--spacing-lg);
}

p {
	margin-top: var(--spacing-md);
	margin-bottom: var(--spacing-md);
}

iconify-icon {
	width: 2rem;
	height: 2rem;
}
